<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Multiple Files</title>
</head>

<body>
    <h1>Upload Multiple Files</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="pdf_files">Pilih file PDF:</label>
        <input type="file" name="pdf_files" multiple><br><br>

        <label for="watermark_image">Pilih gambar watermark:</label>
        <input type="file" name="watermark_image"><br><br>

        <input type="submit" value="Upload">
    </form>
</body>

</html>